$Alegreya: "Alegreya Sans SC Black";
$RalewayB: "Raleway Bold";
$RalewayS: "Raleway SemiBold";
$RalewayLI: "Raleway Light Italic";
$RalewayL: "Raleway Light";
$RalewayM: "Raleway Medium";
$RalewayExtraBold: "Raleway ExtraBold";
$WorkSans: "Work Sans SemiBold";
$KaushanScript: "Kaushan Script Regular";

$base-font-family: $RalewayL;
$heading-font-family: $Alegreya;
$secondary-heading-font-family: $RalewayLI;

// Font Sizes
$base-font-size: rem(16px);

// Line height
$base-line-height: 1.9;
$heading-line-height: 1.2;

// Font Colors
$base-font-color: #666;
$base-heading-color: #333333;
$base-color: #f9cc16;

$base-btn-hover-color: #edc215;
$base-btn-pressed-color: #e0b814;
$white-btn-hover-color: #f2f2f2;
$white-btn-pressed-color: #e6e6e6;

$room-card-bg: #fafafa;

$alt-border-color: #dbdbdb;

$border-color: #f5f5f5;
$background-color: #f5f5f5;
$footer-main-bg: #333;
$copyright-bg: #2b2b2b;
$arrow-link-color: #32c3f9;
$arrow-link-color-focus: #2db1e0;
$base-border-radius: 10px;
$base-box-hadow: 0 0 14px 4px rgba(#000, 0.1);

$base-transition-duration: 300ms;